body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 200px;
}

.btn {
    width: 300px;
    padding: 15px;
    font-size: 18px;
    border: none;
    margin: 10px;
    cursor: pointer;
    color: white;
}

.blue {
    background: #0b4da2;
}

.red {
    background: #b51616;
}

.form-box {
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px gray;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}
